@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-white: #ffffff;
  --color-orange: #ee3d1b;
  --color-pink: #ed4c5c;
  --color-black: #000;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

a:hover {
  opacity: 0.8;
}

.container-content {
  width: 100%;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
}

.text-h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: var(--color-black);
}

.text-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #101010;
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

/* .name {
  width: 400px;
  height: 200px;
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url(https://loremflickr.com/320/240);
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Шапка */
.header .container {
  min-height: 780px;
  background-image: linear-gradient(
      90deg,
      rgba(213, 32, 71, 0.8) 0%,
      rgba(238, 61, 27, 0.8) 100%
    ),
    url(../img/header_bg_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Навигационный бар */
.header__navbar-flex {
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

.header__list-links {
  display: flex;
  gap: 20px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.header__navbar-btn {
  width: 100px;
  height: 40px;
  background: none;
}

.header__navbar-btn:active {
  background-color: var(--color-white);
  color: var(--color-orange);
  transition: 0.3s all;
}

.navbar__burger{
  display: none;
}

.material-icons{
  padding-top: 5px;
  font-size: 30px;
  color: var(--color-white);
}

/* Боковое меню навигации */
.mysidenav {
  height: 100%; /* 100% Полный рост */
  width: 0; /* 0 ширина - измените это с помощью JavaScript */
  position: fixed; /* Оставаться на месте */
  z-index: 4; /* Оставайтесь на вершине */
  top: 0; /* Оставайтесь на вершине */
  left: 0;
  background-color: #111; /* Черный */
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 60px; /* Поместите содержимое 60px сверху */
  transition: 0.5s; /* 0.5 секунд эффект перехода, чтобы скользить в sidenav */
}

.mysidenav__navbar-btn{
  width: 200px;
  height: 40px;
  margin: 30px 20px;
}

.mysidenav__link {
  padding: 8px 8px 8px 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-white);
  display: block;
  transition: 0.3s;
}

.mysidenav__link:hover {
  color: #f1f1f1;
}

.mysidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.myoverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

.header__content {
  text-align: center;
}

.header__h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 40px;
}

.header_p {
  margin: 0 auto;
  max-width: 540px;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-white);
  margin-bottom: 40px;
}

.header__content-btn {
  margin: 0 auto;
  background-color: var(--color-white);
  width: 150px;
  height: 50px;
  color: var(--color-pink);
}

.header__content-btn:active {
  background: none;
  color: var(--color-white);
  transition: 0.3s all;
}

/* О приложении */
.about-app__flex {
  padding: 95px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-app__content {
  display: flex;
  flex-direction: column;
  max-width: 445px;
}

.about-app__h2 {
  margin-bottom: 40px;
}

.about-app__p {
  font-size: 14px;
  line-height: 140%;
  color: var(--color-black);
  margin-bottom: 20px;
}

.about-app__link {
  font-size: 14px;
  line-height: 140%;
  color: var(--color-pink);
}

/* Возможности */
.capability {
  padding-top: 65px;
  background-color: #fafafa;
  min-height: 660px;
}
.capability h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 65px;
}
.capability__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}
.capability__card {
  position: relative;
  border-radius: 8px;
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.card1 {
  background-image: url(../img/item1.png);
}
.card2 {
  background-image: url(../img/item2.png);
}
.card3 {
  background-image: url(../img/item3.png);
}
.capability__inside {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  width: 290px;
  top: 150px;
}
.capability__h3 {
  font-size: 18px;
}
.capability__p {
  font-size: 12px;
}
.capability__link {
  text-decoration: none;
  color: #ed4c5c;
  transition: 0.3s all;
  font-size: 12px;
}
.capability__link:hover {
  color: #af3944;
}

/* Технологии */
.technologies__h2 {
  text-align: center;
  padding-top: 65px;
  margin-bottom: 55px;
}

.technologies__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 50px;
  margin-bottom: 120px;
}

.technologies__card {
  text-align: center;
}

.technologies__images {
  margin-bottom: 10px;
}

.technologies__cards div:nth-child(1) .technologies__images {
  background-image: url(../img/technologies_bg_img_1.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 40px;
}
.technologies__cards div:nth-child(2) .technologies__images {
  background-image: url(../img/technologies_bg_img_2.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 40px;
}
.technologies__cards div:nth-child(3) .technologies__images {
  background-image: url(../img/technologies_bg_img_3.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 40px;
}
.technologies__cards div:nth-child(4) .technologies__images {
  background-image: url(../img/technologies_bg_img_4.svg);
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 40px;
}

.technologies__img {
  margin: 0 auto;
  height: 80px;
  width: 80px;
}

.technologies__h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #101010;
  margin-bottom: 10px;
}

.technologies__p {
  max-width: 190px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-black);
}

/* Приложения */
.app {
  background-color: var(--color-pink);
}

.app__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 95px 0;
}

.app__content {
  max-width: 450px;
}

.app__h2 {
  color: var(--color-white);
  margin-bottom: 40px;
}

.app__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-white);
  margin-bottom: 40px;
}

.app__icons {
  display: flex;
  gap: 25px;
}

/* Связаться с нами */
.contact-us__flex {
  padding-top: 150px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us__content {
  max-width: 440px;
}

.contact-us__h2 {
  margin-bottom: 70px;
}

.contact-us__p {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-black);
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-us__input {
  padding-left: 30px !important;
  box-sizing: border-box !important;
  width: 540px !important;
  height: 60px !important;
  border: 1px solid #333333 !important;
  border-radius: 6px !important;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px !important;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

.contact-us__button{
  cursor: pointer;
  width: 160px;
  height: 50px;
  border: none;
  background: var(--color-pink);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-white);
}

.contact-us__button:hover{
  opacity: 0.8;
}

.contact-us__button:active {
  background: var(--color-white);
  border: 1px solid var(--color-pink);
  color: var(--color-pink);
}


/* Подвал */
.footer {
  background-color: #fafafa;
  padding: 45px 0;
  font-family: 'Lato';
  font-style: normal;
  color: #101010;
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer__adress {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 45px;
}

.footer__company {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}



@media screen and (max-width: 1200px) {
  .capability .container-content {
    padding-bottom: 200px;
  }
  .capability__cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 150px;
  }

  .technologies__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1050px) {
  .contact-us__flex {
    flex-direction: column;
    text-align: center;
  }
  
  .contact-us__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .contact-us__h2 {
    margin-bottom: 30px;
  }
  
  .contact-us__p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 910px) {
  .header__list-links {
    display: none;
  }
  
  .header__navbar-btn {
    display: none;
  }
  
  .navbar__burger{
    display: block;
  }
  .about-app__flex {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .about-app__content {
    text-align: center;
  }

  .app {
    background-color: var(--color-pink);
  }
  
  .app__flex {
    flex-direction: column;
    text-align: center;
  }
  
  .app__icons {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .capability__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .technologies__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .header__navbar>.container-content {
    padding: 0;
  }
  .header__h1 {
    font-size: 50px;
    line-height: 66px;
  }
  
  .header_p {
    font-size: 18px;
    line-height: 150%;
  }

  .contact-us__input {
    width: 400px !important;
  }
}


@media screen and (max-width: 430px) {
  .header__h1 {
    font-size: 34px;
    line-height: 55px;
  }

  .header_p {
    font-size: 14px;
    line-height: 150%;
  }


  .contact-us__input {
    width: 300px !important;
  }

  .mysidenav {
    padding-top: 15px;
  }

  .mysidenav__link {
    font-size: 18px;
  }

  .capability__card {
    width: 100%;
    padding: 0px;
  }
  .capability__inside {
    padding: 10px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .capability__cards {
    row-gap: 100px;
  }
}
